@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body{
    margin: 0;
}

header{
    height: 12vh;
    width: auto;
    background-color: #FF000A;
    display: flex;
    justify-content: space-around;
    align-items: center;


    #logo{
        width: 11.5vw;
        cursor: pointer;
        display: flex;
        position: absolute;
        left: 10vw;
    }

    #login{
        width: 4.5vw;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 3vw;
    }

    #menu{
        width: 4.5vw;
        cursor: pointer;
        display: flex;
        position: absolute;
        left: 1.8vw;
    }
  }

  a {
    position: absolute;
    right: 8vw;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 790;
}

.alunos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0vw;
    height: 0vh;
    border: .3vw solid #B50709;
    border-radius: 2.5vw;
    background-color: #B50709;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;

    & p{
        color: #fff;
    }

    & .nome{
        width: 10vw;
        height: 5vh;
        color: #fff;
        background-color: #B00A0C;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        position: absolute;
        top: -12%;
        left: 50%;
        transform: translateX(-50%);
    }

    & .inputs-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20vw;
        height: 30vh;
        position: absolute;
        top: 35%;
        left: 25%;
        transform: translate(-50%, -50%);

        & input{
            margin-bottom: .8vh;
            margin-top: .8vh;
            width: 13vw;
            height: 4vh;
            border-radius: 2vw;
            border: none;
            background-color: #D9D9D9;
            text-indent: 1vw;
            font-size: .8vw;
        }
        
        & ::-webkit-input-placeholder{
            color: #fff;
            position: relative;
            top: .3vh;
            font-size: 1vw;
        }
    }

    & .inputs-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20vw;
        height: 30vh;
        position: absolute;
        top: 35%;
        left: 75%;
        transform: translate(-50%, -50%);

        & input{
            margin-bottom: .8vh;
            margin-top: .8vh;
            width: 13vw;
            height: 4vh;
            border-radius: 2vw;
            border: none;
            background-color: #D9D9D9;
            text-indent: 1vw;
            font-size: .8vw;
        }
        
        & ::-webkit-input-placeholder{
            color: #fff;
            position: relative;
            top: .3vh;
            font-size: 1vw;
        }
    }

    & .select-turma{
        position: absolute;
        top: 56%;
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & select{
            width: 13vw;
            height: 4vh;
            border-radius: 1vw;
            border: none;
            background-color: #D9D9D9;
            text-indent: 1vw;
            font-size: .8vw;
            margin-top: .4vw;
        }
    }

    & button{
        background-color: #4CBE3A;
        border: none;
        color: #fff;
        width: 8vw;
        height: 4vh;
        border-radius: 1vw;
        font-size: 1vw;
        position: absolute;
        top: 150%;
        cursor: pointer;
    }
}

.turmas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0vw;
    height: 0vh;
    border: .3vw solid #B50709;
    border-radius: 2.5vw;
    background-color: #B50709;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;

    & p{
        color: #fff;
    }

    & .nome{
        width: 10vw;
        height: 5vh;
        color: #fff;
        background-color: #B00A0C;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        position: absolute;
        top: -12%;
        left: 50%;
        transform: translateX(-50%);
    }

    & .inputs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20vw;
        height: 30vh;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);

        & input{
            margin-bottom: .8vh;
            margin-top: .8vh;
            width: 20vw;
            height: 6vh;
            border-radius: 2vw;
            border: none;
            background-color: #D9D9D9;
            text-indent: 1vw;
            font-size: .8vw;
        }
        
        & ::-webkit-input-placeholder{
            color: #fff;
            position: relative;
            top: .3vh;
            font-size: 1vw;
        }
    }

    & .select-periodo{
        position: absolute;
        top: 56%;
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & select{
            width: 20vw;
            height: 6vh;
            border-radius: 1vw;
            border: none;
            background-color: #D9D9D9;
            text-indent: 1vw;
            font-size: .8vw;
            margin-top: .4vw;
        }
    }

    & button{
        background-color: #4CBE3A;
        border: none;
        color: #fff;
        width: 8vw;
        height: 4vh;
        border-radius: 1vw;
        font-size: 1vw;
        position: absolute;
        top: 85%;
        cursor: pointer;
    }
}

.atividades{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0vw;
    height: 0vh;
    border: .3vw solid #B50709;
    border-radius: 2.5vw;
    background-color: #B50709;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;


    & p{
        color: #fff;
    }

    & .nome{
        width: 10vw;
        height: 5vh;
        color: #fff;
        background-color: #B00A0C;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        position: absolute;
        top: -12%;
        left: 50%;
        transform: translateX(-50%);
    }

    & .inputs-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20vw;
        height: 30vh;
        position: absolute;
        top: 45%;
        left: 25%;
        transform: translate(-50%, -50%);

        & input{
            margin-bottom: 4vh;
            margin-top: .8vh;
            width: 13vw;
            height: 4vh;
            border-radius: 2vw;
            border: none;
            background-color: #D9D9D9;
            text-indent: 1vw;
            font-size: .8vw;
        }
        
        & select{
            margin-bottom: .8vh;
            margin-top: .8vh;
            width: 13vw;
            height: 4vh;
            border-radius: 2vw;
            border: none;
            background-color: #D9D9D9;
            text-indent: 1vw;
            font-size: .8vw;
        }
        
        & ::-webkit-input-placeholder{
            color: #fff;
            position: relative;
            top: .3vh;
            font-size: 1vw;
        }
    }

    & .inputs-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20vw;
        height: 30vh;
        position: absolute;
        top: 45%;
        left: 75%;
        transform: translate(-50%, -50%);

        & select{
            margin-bottom: 4vh;
            margin-top: .8vh;
            width: 13vw;
            height: 4vh;
            border-radius: 2vw;
            border: none;
            background-color: #D9D9D9;
            text-indent: 1vw;
            font-size: .8vw;
        }
        
        & ::-webkit-input-placeholder{
            color: #fff;
            position: relative;
            top: .3vh;
            font-size: 1vw;
        }
    }

    & button{
        background-color: #4CBE3A;
        border: none;
        color: #fff;
        width: 8vw;
        height: 4vh;
        border-radius: 1vw;
        font-size: 1vw;
        position: absolute;
        top: 80%;
        cursor: pointer;
    }
}

.disciplinas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0vw;
    height: 0vh;
    border: .3vw solid #B50709;
    border-radius: 2.5vw;
    background-color: #B50709;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;

    & p{
        color: #fff;
    }

    & .nome{
        width: 10vw;
        height: 5vh;
        color: #fff;
        background-color: #B00A0C;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        position: absolute;
        top: -10.2%;
        left: 50%;
        transform: translateX(-50%);
    }

    & .inputs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20vw;
        height: 30vh;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        & input{
            margin-bottom: 0.8vh;
            margin-top: 0.8vh;
            width: 20vw;
            height: 6vh;
            border-radius: 2vw;
            border: none;
            background-color: #D9D9D9;
            text-indent: 1vw;
            font-size: .8vw;
        }
        
        & ::-webkit-input-placeholder{
            color: #fff;
            position: relative;
            top: .3vh;
            font-size: 1vw;
        }
    }

    & button{
        background-color: #4CBE3A;
        border: none;
        color: #fff;
        width: 8vw;
        height: 4vh;
        border-radius: 1vw;
        font-size: 1vw;
        position: absolute;
        top: 75%;
        cursor: pointer;
    }
}