@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Moderustic:wght@300..800&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    height: 12vh;
    width: auto;
    background-color: #FF2A1F;
    display: flex;
    justify-content: space-around;
    align-items: center;


    #logo{
        width: 11.5vw;
        display: flex;
        position: absolute;
        left: 10vw;
    }

    #login{
        width: 4.5vw;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 3vw;
    }

    #menu{
        width: 5.5vw;
        cursor: pointer;
        display: flex;
        position: absolute;
        left: 1.8vw;
    }

    .direcionar a{
        position: absolute;
        top: 4.5vh;
        right: 8.25vw;
        text-decoration: none;
        color: white;
        font-size: 1.05vw;
        font-family: "Inter", sans-serif;
        font-weight: 790;
    }

    & h1{
        position: absolute;
        top: 15vh;
        left: 1vw;
        font-family: "Inter", sans-serif;
    }
  }




/*JS estilização

  
  /* Estilo do menu lateral */
.side-menu {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FF2A1F;
    overflow-x: hidden;
    transition: 0.5s; 
    z-index: 1000;
    padding-top: 13vh; /* Espaço superior para o conteúdo */
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin: 2.5vh 0; /* Determina o Espaçamento dos button */
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.side-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
    /*&:hover{
        .icone{
            opacity: 1;
            display: block;
            visibility: visible;
        }
    }*/
    p{
        margin: 0 ;
        padding: 0 ;
        transition: 200ms;
        position: relative;
    }
}

.icone{
    position: relative;
    left: 2%;
    visibility: hidden;
    object-fit: contain;
    width: 20%;
    opacity: 0;
    display: none;
    transition: 0.5s;
}



/* Estilo para quando o menu estiver aberto */
.side-menu.open {
    width: 12vw;
}




/* Botão de fechamento centralizado */
.close-menu {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
}


.container{
    height: 65vh;
    width: 50vw;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    background-image: url('img/fundoLogin.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 2.5vw;

    & select{
        width: 13vw;
        height: 5vh;
        border-radius: 1vw;
        border: none;
        background-color: #D9D9D9;
        text-indent: .8vw;
        font-size: 1vw;
    }

    & .turma-list {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(auto-fill, minmax(2vw, 1fr));
        max-height: 30vh;
        gap: .8vw;
        list-style-type: none;
        overflow-y: auto;
    }

    & input[type="checkbox"] {
        width: 20px;
        height: 20px;
        border: 2px solid #007bff;
        border-radius: 4px;
        cursor: pointer;
        appearance: none;
        outline: none;
        background-color: #fff;
        transition: background-color 0.2s ease, box-shadow 0.2s ease;
    }

    & input[type="checkbox"]:checked {
        background: #007bff;
        border-color: #007bff;
        box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    }

    & button{
        background-color: #4CBE3A;
        border: none;
        color: #fff;
        width: 9vw;
        height: 5vh;
        border-radius: 1vw;
        font-size: 1vw;
        cursor: pointer;
    }
}