* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header{
    height: 12vh;
    width: auto;
    background-color: #FF000A;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-around;
    align-items: center;

/* header{
    height: 12vh;
    width: 90vw;
    background-color: #FF000A;
    border-radius: 5vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center; */

    #logo {
        width: 11.5vw;
        position: absolute;
        left: 10vw;
    }

    #login{
        width: 4.5vw;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 3vw;
    }

    #menu{
        width: 5.5vw;
        cursor: pointer;
        display: flex;
        position: absolute;
        left: 1.8vw;
    }

    div a{
        position: absolute;
        top: 7vh;
        right: 8.25vw;
        text-decoration: none;
        color: #fff;
        font-size: 1.05vw;
        font-family: "Inter", sans-serif;
        font-weight: 700;
    }
}

#turma {
    height: 10vh;
    width: 20vw;
    font-size: 2vw;
    font-family: "Inter", sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerConteudo {
    height: 65vh;
    width: 60vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25vh;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

#abaA {
    height: 5vh;
    width: 10vw;
    background-color: #b00a0c;
    color: #fff;
    font-size: 1.5vw;
    font-family: "Inter", sans-serif;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#abaM {
    height: 5vh;
    width: 10vw;
    background-color: #b00a0c;
    color: #fff;
    font-size: 1.5vw;
    font-family: "Inter", sans-serif;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#containerAlunos {
    height: 60vh;
    width: 60vw;
    background-color: #e4e4e4;
    border: .15vw solid #c7c7c7;
    border-top: 0;
    overflow-x: hidden;      
    overflow-y: auto;
}

#presenca {
    height: 5vh;
    width: 15vw;
    background-color: #4CBE3A;
    color: #fff;
    border-radius: 1vw;
    font-size: 1vw;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}